* {
    padding: 0;
    margin: 0;
    border: border-box;
}

body {
    color: white;
    width:  100vh;
    text-align: center;
    display: flex;
    justify-content: center;
    margin: auto;
    background-image: url("./public/assets/fundo.jpg");
    background-repeat: no-repeat;
} 

h1 {
    font-family: sans-serif;
    font-size: 70px;
}

form {
    display: flex;
    flex-direction: column;
    margin: 50px;
    justify-content: center;
}

label {
    font-family: sans-serif;
    width: 200px;
    text-align: center;
    margin-bottom: 20px;
    
    display: flex;
    align-items: center;

}

input {
    font-size: 18px;
    margin-bottom: 20px;
    width: 350px;
    height: 50px;
    text-align: center;
    border: none;
    text-decoration: none;
    border-radius: 5px;
}

img {
    width: 100%;
}

 form button {
    color: white;
    margin-bottom: 20px;
    width: 350px;
    height: 50px;
    text-align: center;
    font-size: 19; 
    transition: 1s ease;
    border-radius: 5px;
    border: none;
}

button:hover {
    background-color: #FF7200;
}
